body {
	margin: 0;
	padding-top: 50px;
	background-color: #819499;	
}

#mainWrapper {
	margin: 0;
	padding: 0;
}

#songCarousel {
	margin-bottom: 3rem;
}

.slideBackground {
	background-color: #cc476e;
	min-height: 60vh;
	width: 100%;
}

.navbar {
	margin-bottom: 0;
	padding: 0 2rem;
	background-color: #819499;	
	border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a  {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:visited  {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover  {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:active  {
    color: #fff;
}

.navbar-brand {
	font-family: sans-serif;    
    font-weight: 400;
}